##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

{% if pipeline.beats | default(false) %}
{% for beat in pipeline.beats %}
input {
    beats {
        port => "{{ beat }}"
        {% if install_logstash_beats_ssl | default(false) %}
        ssl_enabled => true
        ssl_certificate => "{{ install_logstash_ssl_crt }}"
        ssl_key => "{{ install_logstash_ssl_key }}"
        {% endif %}
        {% if install_logstash_client_auth | default(false) %}
        ssl_client_authentication => required
        ssl_certificate_authorities => ["{{ install_logstash_ssl_authorities }}"]
        {% endif %}
    }
}
{% endfor %}
{% endif %}
