##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

{% if pipeline.beats is defined %}
{% for beat in pipeline.beats %}
input {
    beats {
        port => "{{ beat }}"
        {% if install_logstash__beats_ssl | default(false) %}
        ssl_enabled => true
        ssl_certificate => "{{ install_logstash__ssl_crt }}"
        ssl_key => "{{ install_logstash__ssl_key }}"
        {% endif %}
        {% if install_logstash__client_auth | default(false) %}
        ssl_client_authentication => required
        ssl_certificate_authorities => ["{{ install_logstash__ssl_authorities }}"]
        {% endif %}
    }
}
{% endfor %}
{% endif %}

output {
{% for pipeline in install_logstash__pipelines %}
    if [pipeline_name] == "{{ pipeline.name }}" {
        pipeline { send_to => {{ pipeline.name }} }
    }
{% endfor %}
}
