{
  "index_patterns" : ["{{ pipeline.name }}-*-*"],
  "allow_auto_create": true,
  "template": {
    "settings" : {
      "number_of_shards" : {{ install_logstash__elasticsearch_shard }},
      "number_of_replicas" : {{ install_logstash__elasticsearch_shard }}
    }
  }
}
